@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
.firstSectionLocation{
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
}
.locationText h1 {
    text-align: center;
    font-size: 1.7em;
    color: #6f4e37; 
    font-weight: 300;
}

.location {
    font-size: 2em;
    font-weight: bold;
    color: #d3b899; 
}

.firstSectionLocation .container {
    margin-top: 20px;
}

.secondSectionLocation{
    background-color: #ebe3d8 ;
    margin-top: 50px;
}

.card {
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    margin-left: 60px;
    width: 300px; /* Adjust width to fit all three cards in one row */
}
.btn-gold {
    background-color: #d8c295;
    color: #fff;
    font-weight: bold;
    transition: .2s linear;
}
.btn-gold:hover {
    background-color: #fff;
    color:  #d8c295;
    border: 1px solid #d8c295;
    font-weight: bold;
    transition: .2s linear;
}
.rating {
    font-size: 12px;
    color: #ffb400;
}
.info-icons a {
    font-size: 15px;
    margin: 5px;
    text-decoration: none !important;
    color: black;
}
.card-text {
    font-size: 0.9rem;
}

.d-block{
    text-decoration: none !important;
    color: black;
    font-size: 14px;
    margin-left: 40px;
    transition: .2s linear;
}

.d-block:hover{
    color: #d8c295;
    transition: .2s linear;
}